<article id="sessions">
  <section class="basic">
    <p>WS-IRC</p>
  </section>
  <section>
   	<div class="irc_viewer">
   	  <div id="loader">
   	    <p id="updater">generating username</p>
   	  </div>
   	  
   	  <div id="irc_contents">
   	    <div class="irc_contents"></div>
		    <div class="irc_input">
		      <input type="text" class="sinput lrg" id="irc_input_txt" placeholder="write message here"/>
		      <input type="button" class="irc_btn" id="irc_message_btn" value="Send"/>
		    </div>
	    </div>
	    
	  </div>
  </section>
</article>